<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="style.css" />
  <title>Fitness Tracker</title>
</head>

<body>
  <nav>
    <a href="/">Fitness Tracker</a>
    <a href="/stats">Dashboard</a>
  </nav>
  <div class="wrapper workout">
    <header>
      <h1>Fitness Tracker</h1>
    </header>
    {{{body}}}
  </div>
  <div id="toast">
    Workout Added Successfully!
  </div>
    <script src="/api.js"></script>
    <script src="/workout.js"></script>
    <script src="/index.js"></script>
    <script src="/exercise.js"></script>
    <script src="/stats.js"></script>
</body>

</html>